body {
    color: black;
}

.icon {
    width: 2rem;
    height: 2rem;
    transition: all 0.22s ease-in-out;

}
#icon-trash {
    color: #e20000;
}  
#icon-trash:hover {
    color: #ff0000;
    cursor: pointer;
    width: 2.2rem;
    height: 2.2rem;
}
#check-icon {
    color: #1ea80d;
    cursor: pointer;

}
#check-icon:hover {
    color: #31be1fd8;
    width: 2.2rem;
    height: 2.2rem;

}

#todo-icon {
    width: 1.7rem;
    height: 1.7rem;
    cursor: pointer;
}
#todo-icon:hover {
    color: #b91c1c;
    width: 1.9rem;
    height: 1.9rem;
}

/* MAIN */
#main-app {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    align-items: center;
    background: #E6DADA;  /* fallback for old browsers */
background: -webkit-linear-gradient(to bottom, #274046, #E6DADA);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to bottom, #274046, #E6DADA); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


    }

#main-container-app {
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
    /* justify-content: center;
    height: 60%; */
    width: 80%;
    max-height: 70%;
    box-shadow: 0px 0px 20px 0px;
    justify-content: center;
    background: rgb(0 0 0);

}

/* TITULO MAIN */
#main-title-app {
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: #ffff;
}

/* INPUT DEL MAIN */
#input-button-app {
    display: flex;
    justify-content: center; 
    align-items: center;
    gap: 0.5rem;
    padding: 1rem;
}

#div-input-mensaje {
    display: flex;
    flex-direction: column;
    width: 90%;
    padding-top: 1rem;
}

#form-app {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 1rem;
    gap: 1rem;
    width: 100%;
}

#input-app {
    margin: 0; 
    border-radius: 0.5rem;
    height: 2rem;
    width: 100%;
    padding: 0.5rem;
    background: #dedede;
}

.p-messsage {
    background-color: white;
    border: 2px solid #ff0000;
    border-radius: 1rem;
    height: 1.5srem;
    width: 100%;
    text-align: center;
}

.input-error {
    border: 4px solid #ff0000;
}
/* BOTON */

#button-app {
    height: 2rem;
    width: 2rem;
    border-radius: 1rem;
    padding: 0;
    background-color: black;
    color: white;
}
#button-app:hover {
    background-color: rgba(163, 161, 161, 0.73);
    cursor: pointer;
    transition: all 0.22s ease-in-out;
}
/* LISTA  */

#lista-app {
   border-top-width: 2px;
   border-color: black;
   background-color: #767676;
    margin: 0;
    overflow: auto;
    padding: 0;
    list-style: none;
    word-break: break-all;

}

.item-list{
    display: flex;
    border-bottom-width: 2px;
    border-color: #1a1d31;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;

}
.done {
    text-decoration: line-through;
    text-decoration-thickness: 4.6px;
    color: #000000;
    background-color: #44544a;
}

.boton-lista {
    background: transparent;
    padding: 0;
}

#item-list-task {
    text-align: center;
    color: #ffff;

}
#item-list-botones {
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

/* CONTADOR LISTA */

#counter-list {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 0.5rem;
    text-align: center;

}

.spans {
    border-radius: 1rem;
    height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    color: #ffff;
}

.spans:hover {
    cursor: pointer;
}

#span-tarea {
    background-color: #0014ab99;

}
#span-tarea:hover {
    background-color: #001dfb99;
}

#span-incompletas {
    background-color: #b00000c7;

}
#span-incompletas:hover {
    background-color: #ce0000c7;
}

#span-completas {
    background-color: #0d8300ad;

}
#span-completas:hover {
    background-color: #11a800ad;
}

@media (min-width: 1024px) {
    #counter-list {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        text-align: center;
    }
    .spans {
        width: 20%;
        height: 4rem;
        font-size: 1.3rem;
        border-radius: 2rem;
        }
    #main-container-app {
        font-size: 1.5rem;
        border-radius: 2rem;
    }
    #input-button-app {
        padding: 0.5rem;
    }
}

@media (min-width: 2560px) {
   #main-container-app {
    height: 100rem;
   }
   #main-title-app {
    font-size: 7rem;
   }
   #input-button-app {
    height: 9rem;
   }
   #input-app {
    height: 6rem;
    font-size: 3.5rem;
   }
   #button-app {
    height: 5rem;
    width: 5rem;
   }
   #lista-app {
    height: 60rem;
   }
   .item-list {
    height: 10rem;
   }
   #delete-button {
    height: 5rem;
    width: 5rem;
   }
   .icon {
    height: 5rem;
    width: 5rem;
   }
   #todo-icon {
    height: 5rem;
    width: 5rem;
   }
   #item-list-task {
    font-size: 4rem;
   }
   .spans {
    font-size: 4rem;
    height: 7rem;
    width: 30%;

   }
}
/* width */
::-webkit-scrollbar {
    width: 10px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
  ::-webkit-scrollbar-button {
    border-radius: 0.5rem;
  }
